*{
    padding:0;
    margin:0;
    overflow: hidden;
}
.header {
    font-family: 'Josefin Sans', sans-serif;
    font-size: larger;
    line-height: 12vh;
    color:white;
    height:12vh;
    text-align: center;
    vertical-align: middle;
    background-image: linear-gradient(to right, #5c0b98, #ce499b   );
}


#container{
    background-color:#5c0b98;
    width:100vw;
    height:100vh;
   
}
#main{
    background-color:white;
    width:80vw;
    height:100vh;
    margin-left:20vw;
    float: left;
}
#information{
    font-family: 'Montserrat', sans-serif;
    color:black;
    margin-left:1vw;
}

.category{
    position:relative;
    margin-top:30px;
    height:50px;
    width:450px;
    background:red;
    line-height:50px;
}

.categorybox{
    position:relative;
    float:left;
    width:200px;
    height:50px;
    margin-left:30px;
}

.categoryremove {
    position:relative;
    margin-left:20px;
    float:left;
}

.categoryedit {
    position:relative;
    margin-left:20px;
    float:left;
}

#profilbild{
    margin-top: 1vh;
    margin-left: 1vw;
    height: 55px;
    width:auto;
    position: absolute;
}