*{
    padding:0;
    margin:0;
}

#container{
    background-color:#686868;
    width:100vw;
    height:100vh;
   
}
#main{
    background-color:#bfbfbf;
    width:70vw;
    height:100vh;
    margin-left:15vw;
}
#information{
    margin-left:1vw;
}